{% load static %} 

<!DOCTYPE html>
<html>
<head>
   <title>Уведомления</title>
   <link rel="stylesheet" href="{% static '/css/common.css' %}">
   <link rel="stylesheet" href="{% static '/css/chat.css' %}">
</head>
<body class='layout'>
   {% block sidebar %}
      {% include 'includes/sidebar.html' %}
   {% endblock %}
   <main class="content">
      <h3>Уведомления</h3>
      <div class="employees-panel">
         <ul>
            {% for employee in employees_with_questions %}
            <a href="{% url 'chat_with_employee' employee.id %}" class="chat">
               <img src="{% static 'images/chat.svg' %}" class="chat-svg">
               {{ employee.name }}  
               {% if employee.unanswered_count > 0 %}
                  <span class="notification">{{ employee.unanswered_count }}</span>
               {% endif %}
            </a>
            {% empty %}
            <li>Нет активных чатов</li>
            {% endfor %}
         </ul>
      </div>
   </main>
</body>
</html>