{% load static %} 
{% load tz %}

<!DOCTYPE html>
<html>
<head>
   <title>Чат с сотрудником</title>
   <link rel="stylesheet" href="{% static 'css/common.css' %}">
</head>
<body class='layout'>
   <div class="sidebar">
      <a href="{% url 'curator_account' %}">
         <img src="{% static 'images/logo.svg' %}" class="logo-svg" alt="Логотип">
      </a>
      <ul>
         <div class="sidebar__item">ПРОФИЛЬ</div>
         <div class="sidebar__subitem"><a href="/curator_account">Личный кабинет</a></div>
         <div class="sidebar__subitem"><a href="/chats">Уведомления</a></div>
         <div class="sidebar__item">СОТРУДНИКИ</div>
         <div class="sidebar__subitem"><a href="/young_employees">Список сотрудников</a></div>
         <div class="sidebar__subitem"><a href="/report">Сформировать отчет</a></div>
         <div class="sidebar__item">СТАТИСТИКА</div>
         <div class="sidebar__subitem"><a href="#">Посмотреть статистику</a></div>
      </ul>
   </div>
   <main class="content">
      <h3>Чат с {{ employee.name }}</h3>
      <div class="employees-panel">  
         <div class="chat-container">          
            <div class="chat__messages" id="chat-messages">
               {% for question_answer in questions_answers %}
                  <div class="message received">
                        <p><strong>{{ employee.name }}:</strong> {{ question_answer.name }}</p>
                        <small>{{ question_answer.creation_question|date:"d.m.Y H:i" }}</small>
                  </div>
                  {% if question_answer.answer %}
                        <div class="message sent">
                           <p><strong>Вы:</strong> {{ question_answer.answer }}</p>
                           <small>{{ question_answer.creation_answer|date:"d.m.Y H:i" }}</small>
                        </div>
                  {% endif %} 
               {% endfor %}       
            </div>
            
            <div class="chat__input">
               <form id="message-form">
                  <input class="input" type="text" id="message-input" placeholder="Введите сообщение..." required>
                  <button class="send-button button" type="submit">Отправить</button>
               </form>
            </div>
         </div>
   </main>
</body>
<script>
   //создаем вебсокет
   const chatSocket = new WebSocket(`ws://${window.location.host}/ws/chat/${ {{ employee.id }} }/`);
   //при получении нового сообщения от сервера вызываем функцию
   chatSocket.onmessage = function(e) {
      //преобразовываем объект json в строку
      const data = JSON.parse(e.data);
      //находим объект с сообщениями
      const messages = document.getElementById('chat-messages');
      //получаем имя сотрудника
      const employeeName = "{{ employee.name }}";

      //создаем объект и присваиваем ему класс в зависимости от того, кому принадлежит сообщение
      const messageDiv = document.createElement('div');
      messageDiv.className = data.sender_id === "{{ request.user.username }}" ? "message sent" : "message received";
      
      //создаем элемент
      messageDiv.innerHTML = `
         <p><strong>${data.sender_id === "{{ request.user.username }}" ? 'Вы:' : employeeName + ':'}</strong> ${data.message}</p>
         <small>${new Date().toLocaleString()}</small>
      `;
      
      //добавляем в структуру и прокручиваем экран
      messages.appendChild(messageDiv);
      messages.scrollTop = messages.scrollHeight;
   };
   
   //при нажатии кнопки 
   document.getElementById('message-form').onsubmit = function(e) {
      e.preventDefault();
      const input = document.getElementById('message-input');
      //отправляем введенное сообщение и очищаем поле ввода
      chatSocket.send(JSON.stringify({
         'message': input.value,
         'sender_id': "{{ request.user.username }}"
      }));
      input.value = '';
   };
</script>

</html>