{% load static %} 
{% load tz %}

<!DOCTYPE html>
<html>
<head>
   <title>Чат с сотрудником</title>
   <link rel="stylesheet" href="{% static 'css/common.css' %}">
   <link rel="stylesheet" href="{% static '/css/chat.css' %}">

</head>
<body class='layout'>
   {% block sidebar %}
      {% include 'includes/sidebar.html' %}
   {% endblock %}
   <main class="content">
      <h3>Вопросы от сотрудника {{ employee.name }}</h3>
      <div class="employees-panel">  
         <div class="chat-containers"> 
            {% for question_answer in questions_answers %}
               <div class="chat-container" id="question-{{ question_answer.id }}">          
                  <div class="chat__messages">
                     <div class="message received">
                           <p><strong>{{ employee.name }}:</strong> {{ question_answer.name }}</p>
                           <small>{{ question_answer.creation_question|date:"d.m.Y H:i" }}</small>
                     </div>
                     {% if question_answer.answer %}
                           <div class="message sent">
                              <p><strong>Вы:</strong> {{ question_answer.answer }}</p>
                              <small>{{ question_answer.creation_answer|date:"d.m.Y H:i" }}</small>
                           </div>
                     {% endif %} 
                     <div class="chat__input {% if question_answer.answer %}hidden{% endif %}" id="input-{{ question_answer.id }}">
                        <form class="answer-form" method="post" action="{% url 'answer_question' question_answer.id %}">
                           {% csrf_token %}
                           <input class="input" type="text" name="answer" placeholder="Введите ответ..." required>
                           <button class="send-button button" type="submit">Отправить</button>
                        </form>
                     </div>
                  </div> 
               </div>
            {% endfor %}     
         </div>  
      </div>
   </main>
   <script src="{% static 'js/detailed-chat.js' %}"></script>
</body>
</html>