@import url('font.css');


h3{ 
   color: #0078C1;
   padding-left: 55px;
   padding-top: 85px;
}
h4{ 
   color: #0078C1;
   padding-top: 15px;
}
.layout {
   font-family: 'Helios', sans-serif;
   display: flex;
   min-height: 100vh;
}
a {
   text-decoration: none; 
   color: #818181;
}
ul {
   list-style-type: none; 
}
a:hover {
   font-size: 16px;
   color: #0078C1;
}
.content {
   font-family: 'Helios', sans-serif;
   font-size: 16px;
   padding-left: 55px;
   overflow-y: auto;
   background-color: #EEEEEE;
   flex: 1;
   height: 100vh;
}

.employees-panel{
   width: 1273px;
   height: auto;
   background-color: #FFFFFF;
   padding-left: 55px;
   padding-top: 35px;
   padding-bottom: 35px;
}
.logo-svg{
   width: 320px;
   height: 157px;
}

.button {
   min-width: 100px;
   font-size: 14px;
   text-align: center;
   padding: 5px;
   background-color: #0078C1;
   color: #FFFFFF;
   border: 1px solid #0078C1;
   border-radius: 10px;
   cursor: pointer;
}

.button-inverse {
   min-width: 100px;
   font-size: 14px;
   text-align: center;
   padding: 5px;
   color: #0078C1;
   background-color: #FFFFFF;
   border: 1px solid #0078C1;
   border-radius: 10px;
   cursor: pointer;
}


.account{
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.hidden {
   display: none !important;
}


.notification {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 20px;
   height: 20px;
   background-color: #0078C1; 
   color: white;
   border-radius: 50%;
   font-size: 12px;
   font-weight: bold;
}


.sidebar {
   font-family: 'Helios', sans-serif;
   width: 437px; 
   background-color: #FFFFFF;
   position: sticky; 
   top: 0;
   left: 0;
   height: 100vh; 
   box-sizing: border-box;
   padding-left: 50px;
}

.sidebar__item {
   margin-left: -35px;
   font-size: 20px;
   color: #0078C1;
   margin-top: 35px;
   font-weight: bold;
}
.sidebar__subitem {
   margin-left: -35px;
   font-size: 16px;
   color: #818181;
   margin-top: 15px;
}
.logoutButton{
   bottom: 0px;
}

.new_info {
   margin-left: -35px;
   font-size: 16px;
   color: #0078C1;
}