.sidebar {
   font-family: 'Helios', sans-serif;
   width: 437px; 
   background-color: #FFFFFF;
   position: sticky; 
   top: 0;
   left: 0;
   height: 100vh; 
   box-sizing: border-box;
   padding-left: 50px;
}

.sidebar__item {
   margin-left: -35px;
   font-size: 20px;
   color: #0078C1;
   margin-top: 35px;
   font-weight: bold;
}
.sidebar__subitem {
   margin-left: -35px;
   font-size: 16px;
   color: #818181;
   margin-top: 15px;
}
.logoutButton{
   bottom: 0px;
}