{% load static %} 

<!DOCTYPE html>
<html>
<head>
   <title>Формирование отчета</title>
   <link rel="stylesheet" href="{% static '/css/common.css' %}?v={% now 'U' %}">
   <link rel="stylesheet" href="{% static '/css/air-datepicker.css' %}?v={% now 'U' %}">
</head>
<body class='layout' data-username='{{ request.user.username|default:"anonymous"|escapejs }}'>
   <div class="sidebar">
      <a href="{% url 'curator_account' %}">
         <img src="{% static 'images/logo.svg' %}" class="logo-svg" alt="Логотип">
      </a>
      <ul>
         <div class="sidebar__item">ПРОФИЛЬ</div>
         <div class="sidebar__subitem"><a href="/curator_account">Личный кабинет</a></div>
         <div class="sidebar__subitem"><a href="/chats">Уведомления</a></div>
         <div class="sidebar__item">СОТРУДНИКИ</div>
         <div class="sidebar__subitem"><a href="/report">Список сотрудников</a></div>
         <div class="sidebar__item">СТАТИСТИКА</div>
         <div class="sidebar__subitem"><a href="#">Посмотреть статистику</a></div>
      </ul>
   </div>
   <main class="content">
      <h3>Молодые сотрудники</h3>
      <div class="employees-panel">
         <div class="filter-panel">
            <div class="employee-controls">
               <label class="filter-checkbox">
                  <input type="checkbox" id="filter_own_employees"> 
                  Только свои сотрудники
               </label>
               <label class="filter-checkbox">
                  <input type="checkbox" id="select_all"> 
                     Выбрать всех
               </label>
               <button id="reset-filters" class="button">Сбросить фильтры</button>
            </div>
               <button type="button" id="report-button" class="report-button button">Сформировать отчёт</button>
         </div>
         
        
            <table class="employee-table">
            <thead>
               <tr>
                  <th></th>
                  <th>
                     <div class="dropdown">
                        <button class="dropdown-toggle" type="button" id="nameDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           ФИО
                           <span class="dropdown-arrow">▼</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="nameDropdown">
                           <input class="search" type="text" placeholder="Поиск..." id="name-search" 
                              style="background-image: url('{% static 'images/search.svg' %}')">
                           <button class="reset-button">Сбросить все</button>
                           {% for employee in employees %}
                           <div class="dropdown-item">
                              <label class="checkbox-container">
                                 <input type="checkbox" name="filial_filter" value="{{ employee.name }}">
                                 <span class="checkmark"></span>
                                 <span>{{ employee.name }}</span> 
                              </label>
                           </div>
                           {% endfor %}
                        </div>
                     </div>   
                  </th>
                  <th>
                     <div class="dropdown">
                        <button class="dropdown-toggle" type="button" id="filialDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Филиалы
                           <span class="dropdown-arrow">▼</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="filialDropdown">
                           <input class="search" type="text" placeholder="Поиск..." id="filial-search" 
                              style="background-image: url('{% static 'images/search.svg' %}')">
                           <button class="reset-button">Сбросить все</button>
                           {% for filial in filials %}
                           <div class="dropdown-item" id="dropdown-item">
                              <label class="checkbox-container">
                                 <input type="checkbox" name="filial_filter" value="{{ filial.id }}">
                                 <span class="checkmark"></span>
                                 <span>{{ filial.name }}</span> 
                              </label>
                           </div>
                           {% endfor %}
                        </div>
                     </div>   
                  </th>
                  <th>
                     <div class="dropdown">
                        <button class="dropdown-toggle" type="button" id="structDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Подразделения
                           <span class="dropdown-arrow">▼</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="structDropdown">
                           <input class="search" type="text" placeholder="Поиск..." id="struct-search" 
                              style="background-image: url('{% static 'images/search.svg' %}')">
                           <button class="reset-button">Сбросить все</button>
                           {% for struct in structs %}
                           <div class="dropdown-item">
                              <label class="checkbox-container">
                              <input type="checkbox" name="filter" value="{{ struct.id }}">
                              <span class="checkmark"></span>
                              {{ struct.name }}
                              </label>
                           </div>
                           {% endfor %}
                        </div>
                     </div>
                  </th>
                  <th>
                     <div class="dropdown">
                        <button class="dropdown-toggle" type="button" id="numtabDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Табельный номер
                           <span class="dropdown-arrow">▼</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="numtabDropdown">
                           <input class="search" type="text" placeholder="Поиск..." id="numtab-search" 
                              style="background-image: url('{% static 'images/search.svg' %}')">
                           <button class="reset-button">Сбросить все</button> 
                           {% for numtab in numtabs %}
                           <div class="dropdown-item">
                              <label class="checkbox-container">
                              <input type="checkbox" name="numtab_filter" value="{{ numtab }}">
                              <span class="checkmark"></span>
                              {{ numtab }}
                              </label>
                           </div>
                           {% endfor %}
                        </div>
                     </div>   
                  </th>
                  <th>
                     <div class="dropdown">
                        <button class="dropdown-toggle" type="button" id="curatorDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Куратор
                           <span class="dropdown-arrow">▼</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="curatorDropdown">
                           <input class="search" type="text" placeholder="Поиск..." id="name-search" 
                              style="background-image: url('{% static 'images/search.svg' %}')">
                           <button class="reset-button">Сбросить все</button>
                           {% for curator in curators %}
                           <div class="dropdown-item">
                              <label class="checkbox-container">
                                 <input type="checkbox" name="curator_filter" value="{{ curator.name }}">
                                 <span class="checkmark"></span>
                                 <span>{{ curator.name }}</span> 
                              </label>
                           </div>
                           {% endfor %}
                        </div>
                     </div>   
                  </th>
                  <th>
                     <button class="dropdown-toggle" type="button" id="hireDateDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Дата приема
                           <span class="dropdown-arrow">▼</span>
                        </button>
                     <div class="dropdown-menu datemenu" id="dateDropdown">
                        <div>c </div>
                        <div class="field__date">
                           <div class="field__date-inputs">
                              <input
                              class="hireDateFrom date"
                              type="text"
                              placeholder="__.__.____"
                              readonly
                           />
                        </div>
                        <input
                           class="dateInput"
                           type="text"
                           name="date"
                           readonly
                           required
                        />    
                        <div>по </div>
                        <div class="field__date">
                           <div class="field__date-inputs">
                              <input
                              class="hireDateTo date"
                              type="text"
                              placeholder="__.__.____"
                              readonly
                           />
                        </div>
                        <input
                           class="dateInput"
                           type="text"
                           name="date"
                           readonly
                           required
                        />  
                        <button class="reset-date">Сбросить все</button>  
                  </th>
                  <th>
                     <button class="dropdown-toggle" type="button" id="hireDateDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Дата первого обращения к боту
                           <span class="dropdown-arrow">▼</span>
                        </button>
                     <div class="dropdown-menu datemenu" id="dateDropdown">
                        <div>c </div>
                        <div class="field__date">
                           <div class="field__date-inputs">
                              <input
                              class="tgDateFrom date"
                              type="text"
                              placeholder="__.__.____"
                              readonly
                           />
                        </div>
                        <input
                           class="dateInput"
                           type="text"
                           name="date"
                           readonly
                           required
                        />    
                        <div>по </div>
                        <div class="field__date">
                           <div class="field__date-inputs">
                              <input
                              class="tgDateTo date"
                              type="text"
                              placeholder="__.__.____"
                              readonly
                           />
                        </div>
                        <input
                           class="dateInput"
                           type="text"
                           name="date"
                           readonly
                           required
                        /> 
                        <button class="reset-date">Сбросить все</button>     
                  </th>
               </tr>
            </thead>
            <tbody>
               {% for employee in employees %}
               <tr data-curator="{{ employee.curator_login }}">
                  <td>
                     <input type="checkbox" 
                              id="employee_{{ employee.id }}" 
                              name="selected_employees" 
                              value="{{ employee.id }}"
                              class="employee-checkbox">
                     <label for="employee_{{ employee.id }}"></label>
                  </td>
                  <td>
                     <a href="{% url 'employee' employee.id %}" class="personal">
                        {{ employee.name }}
                     </a>
                  </td>
                  <td>{{ employee.filial|default:"-" }}</td>
                  <td>{{ employee.struct|default:"-" }}</td>
                  <td>{{ employee.num_tab|default:"-" }}</td>
                  <td>{{ employee.curator|default:"-" }}</td>
                  <td>{{ employee.hire_date|default:"-" }}</td>
                  <td>{{ employee.telegram_registration_date|default:"-" }}</td>
               </tr>
               {% empty %}
               <tr>
                  <td colspan="6">Нет сотрудников для отображения</td>
               </tr>
               {% endfor %}
            </tbody>
            </table>
            {% if page_obj.paginator.num_pages > 1 %}
            <div class="pagination">
               {% if page_obj.has_previous %}
                  <a href="?page=1" class="page-link">&laquo; Первая</a>
                  <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Предыдущая</a>
               {% endif %}

               {% for num in page_range %}
                  {% if page_obj.number == num %}
                     <span class="current">{{ num }}</span>
                  {% else %}
                     <a href="?page={{ num }}" class="page-link">{{ num }}</a>
                  {% endif %}
               {% endfor %}

               {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}" class="page-link">Следующая</a>
                  <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Последняя &raquo;</a>
               {% endif %}
            </div>
            {% endif %}
         </div>
      </div>
                 
         
           
      </div>
   </main>
   <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
   <script src="{% static 'js/air-datepicker.js' %}"></script>
   <script src="{% static 'js/generate-report.js' %}"></script>
   
</body>
</html>
<script>
  const FILTER_EMPLOYEES_URL = "{% url 'filter_employees' %}";
  const GENERATE_REPORT_URL = "{% url 'download_report' %}";
</script>
