{% load static %} 

<!DOCTYPE html>
<html>
<head>
   <title>Личный кабинет</title>
   <link rel="stylesheet" href="{% static '/css/common.css' %}">
</head>
<body class='layout'>
   <div class="sidebar">
      <img src="{% static 'images/logo.svg' %}" class="logo-svg" href="curator_account/">
      <ul>
         <div class="sidebar__item">ПРОФИЛЬ</div>
         <div class="sidebar__subitem"><a href="/curator_account">Личный кабинет</a></div>
         <div class="sidebar__subitem"><a href="/chats">Уведомления</a></div>
         <div class="sidebar__item">СОТРУДНИКИ</div>
         <div class="sidebar__subitem"><a href="/young_employees">Список сотрудников</a></div>
         <div class="sidebar__subitem"><a href="/report">Сформировать отчет</a></div>
         <div class="sidebar__item">СТАТИСТИКА</div>
         <div class="sidebar__subitem"><a href="#">Посмотреть статистику</a></div>
      </ul>
   </div>
   <main class="content">
      <h3>Статистика</h3>
      <div class="employees-panel">
         <div class="account">
            <span class="employee__info">{{ employee.name }}</span>
            <div class="employee__info">Филиал: {{ employee.filial.name }}</div>
            <div class="employee__info">Подразделение: {{ employee.struct.name }}</div>
            <div class="employee__info">Табельный номер: {{ employee.num_tab }}</div>
            <div class="employee__info">Email: {{ employee.email }}</div>
            <div class="employee__info">Количество подопечных сотрудников: {{ count }}</div>     
         </div>
      </div>   
   </main>
</body>
</html> 