{% load static %} 

<!DOCTYPE html>
<html>
<head>
   <title>Статистика</title>
   <link rel="stylesheet" href="{% static '/css/common.css' %}">
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class='layout'>
   {% block sidebar %}
      {% include 'includes/sidebar.html' %}
   {% endblock %}
   <main class="content">
      <h3>Статистика</h3>
      <div class="employees-panel">
         <h4>Всего пользователей: {{ count }}</h4>
         <h4>Сотрудники, заблокировавшие бота: </h4>
         {% for blocker in blockers %}
            <div>{{ blocker.name }}</div>
         {% endfor %}
   </main>
</body>
</html> 