{% load static %} 

<!DOCTYPE html>
<html>
<head>
   <title>Личный кабинет</title>
   <link rel="stylesheet" href="{% static '/css/common.css' %}">
</head>
<body class='layout'>
   {% block sidebar %}
      {% include 'includes/sidebar.html' %}
   {% endblock %}
   <main class="content">
      <h3>Информация обо мне</h3>
      <div class="employees-panel">
         <div class="account">
            <span class="employee__info">{{ employee.name }}</span>
            <div class="employee__info">Филиал: {{ employee.filial.name|default:"-" }}</div>
            <div class="employee__info">Подразделение: {{ employee.struct.name|default:"-" }}</div>
            <div class="employee__info">Табельный номер: {{ employee.num_tab|default:"-" }}</div>
            <div class="employee__info">Email: {{ employee.email|default:"-" }}</div>
            <div class="employee__info">Количество подопечных сотрудников: {{ count }}</div>     
         </div>
      </div>   
   </main>
</body>
</html> 