{% load static %} 

<!DOCTYPE html>
<html>
<head>
   <title>Вход в систему</title>
   <link rel="stylesheet" href="{% static '/css/common.css' %}">
   <link rel="stylesheet" href="{% static '/css/login.css' %}">
</head>
<body onload="clearFormOnLoad()">
   <div class="login">
      {% if messages %}
         {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
               {{ message }}
            </div>
         {% endfor %}
      {% endif %}
      <form id="login-form" class="login__form" method="post" action="{% url 'login_user' %}">
         {% csrf_token %}
         <div class="login__header">Вход</div>
         <input class="login__text" type="text" name="username" placeholder="Введите логин" required>
         <input class="login__text" type="password" name="password" placeholder="Введите пароль" required>
         <button type="submit" class="login__button button">Войти</button>
      </form>
   </div>
</body>
   <script src="{% static 'js/login.js' %}"></script>
</html> 
  