{% load static %} 

<div class="sidebar">
   <a href="{% url 'curator_account' %}">
      <img src="{% static 'images/logo.svg' %}" class="logo-svg" alt="Логотип">
   </a>
   <ul>
      <div class="sidebar__item">ПРОФИЛЬ</div>
      <div class="sidebar__subitem"><a href="/curator_account">Личный кабинет</a></div>
      <div class="sidebar__subitem"><a href="/chats">Уведомления
         {% if unanswered_count > 0 %}
            <span class="notification">{{ unanswered_count }}</span>
         {% endif %}
      </a></div>
      <div class="sidebar__item">СОТРУДНИКИ</div>
      <div class="sidebar__subitem"><a href="/report">Сформировать отчет</a></div>
      <div class="sidebar__subitem"><a href="/mailings">Управление рассылками</a></div>
      {% comment %} <div class="sidebar__item">СТАТИСТИКА</div>
      <div class="sidebar__subitem"><a href="/statistic">Посмотреть статистику</a></div> {% endcomment %}
   </ul>
</div>