
.login{
   margin-top: 100px;
   width: 200px;
   height: 200px;
   display: flex;
   flex-direction: column;
   gap: 20px;
   font-size: 16px;
   border: 1px solid #0078C1;
   justify-self: center;
   justify-content: center;
   align-items: center; 
   color:#0078C1;
}
.login__form{
   display: flex;
   flex-direction: column;
   gap: 20px;
   justify-content: center; 
   align-content: center;
}
.login__input{
   border: 1px solid #0078C1;
   color: #0078C1;
}
.login__header{
   font-size: 16px;
   justify-self: center;
}